@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lobsterFont {
  font-family: "Lobster", serif;
}

.logoFont-Dancing-Script {
  font-family: "Dancing Script", serif;
}

.font-mont {
  font-family: "Montserrat", serif;
}

.font-color {
  color: var(--primary-text-color);
}

.PageTitle2 {
  text-decoration-line: underline;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 5px;
  text-decoration-thickness: 5px;
}
.PageTitle {
  border-left: 5px solid var(--accent-color);
  padding-left: 8px;
  margin-bottom: 10px;

}

.card-bg-color {
  background-color: var(--card-background-color);
}
.accentColor {
  color: var(--accent-color);
}

/* .particles-bg-canvas-self {
  background: var(--background-color); /* Set custom background color for particles 
} 
  */

.button-style {
  background-color: transparent;
  border: 2px solid;
  color: var(--accent-color);
  text-shadow: 2px black;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  font-weight: 700;
}
.button-style:hover {
  background-color: var(--accent-color-hover);
}

.button-style2 {
  background-color: transparent;
  font-weight: 500;
  border: 2px solid;
  color: var(--accent-color);
  text-shadow: 2px black;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}
.button-style2:hover {
  background-color: var(--accent-color-hover);
}

.navber-bg {
  background-color: rgba(var(--navber-background-color), 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.bg-color {
  background-color: var(--background-color);
}

/* Navber Menu */
#navbar-menu a {
  color: var(--menu-font-color);
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

#navbar-menu a:hover {
  color: var(--accent-color);
}

#navbar-menu .active {
  color: var(--accent-color);
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid var(--accent-color);
}

:root {
  --background-color: #ffffff;
  --circle-background-color: #bdbdbd;
  --card-background-color: #ffffff;
  --primary-text-color: #0a0a0a;
  --accent-color: rgb(239 68 68 / var(--tw-text-opacity, 1));
  --accent-color-rgb: 59, 131, 246;
  --accent-color-hover: #15d3bd6c;
  --section-border-color: #15d3bd;
  --navber-background-color: 189, 189, 189;
  --menu-font-color: rgb(22, 21, 21);
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --circle-background-color: #ffffff;
  --card-background-color: #2c3442a9;
  --primary-text-color: #ededed;
  --accent-color: #ef4444;
  --accent-color-rgb: 21, 211, 189;
  --accent-color-hover: rgb(26, 32, 41);
  --section-border-color: black;
  --navber-background-color: 26, 26, 26;
  --menu-font-color: white;
}
