@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logoFont-Dancing-Script {
  font-family: "Dancing Script", serif;
}

.font-mont {
  font-family: "Montserrat", serif;
}

/* .lottie-bg {
  background-color: var(--background-color);
} */

.button-style {
  background-color: transparent;
  border: 2px solid;
  color: var(--accent-color);
  text-shadow: 2px black;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}
.button-style:hover {
  background-color: var(--accent-color-hover);
}

.navber-bg {
  background-color: rgba(var(--navber-background-color), 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.bg-color {
  background-color: var(--background-color);
}

/* Navber Menu */
#navbar-menu a {
  color: var(--menu-font-color);
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

#navbar-menu a:hover {
  color: var(--accent-color);
}

#navbar-menu .active {
  color: var(--accent-color);
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid var(--accent-color);
}

:root {
  --background-color: #f9fafb;
  --circle-background-color: #bdbdbd;
  --card-background-color: #ffffff;
  --primary-text-color: #0a0a0a;
  --accent-color: #3b83f6d3;
  --accent-color-rgb: 59, 131, 246;
  --accent-color-hover: #15d3bd6c;
  --section-border-color: #15d3bd;
  --navber-background-color: 189, 189, 189;
  --menu-font-color: rgb(22, 21, 21);
  /* --foreground-color: #003cff;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000; */
}
/* accent-colot-light theme 3B82F6 */

[data-theme="dark"] {
  --background-color: #2a3439;
  --circle-background-color: #ffffff;
  --card-background-color: rgb(31 41 55);
  --primary-text-color: #f5f5f5;
  --accent-color: #15d3bd;
  --accent-color-rgb: 21, 211, 189;
  --accent-color-hover: rgb(26, 32, 41);
  --section-border-color: black;
  --navber-background-color: 31, 41, 55;
  --menu-font-color: white;
  /* --foreground-color: #567aff;
  --secondary-text-color: #15d3bd;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff; */
}
